.dashboard-card {
  height: 250px;
  width: 558px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dashboard-card .title {
  font-size: 36px;
  color: var(--white-color);
  margin-bottom: 10px;
}

.dashboard-card .value {
  font-size: 48px;
  color: var(--white-color);
}
