.cinema-card {
  width: 500px;
  display: block;
  margin: auto;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  padding: 50px;
}
