:root {
  --primary-color: #3b3355;
  --secondary-color: #5d5d81;
  --tertiary-color: #f4a261;
  --black-color: #000505;
  --white-color: #fefcfd;
  --background-color: #3b33552b;
  --background-gradient: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.267) 41%,
    #23395b 68.5%
  );
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
