input,
select {
  border: 2px solid var(--secondary-color);
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}

input:focus,
select:focus {
  outline: none;
}

label {
  color: var(--primary-color);
}
